<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.thelordtech.facultydashboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ExistSchedule"></activity>
        <activity android:name=".History" />
        <activity android:name=".ViewSchedule" />
        <activity android:name=".ViewNoteActivity" />
        <activity android:name=".AddNoteActivity" />
        <activity android:name=".NotesListActivity" />
        <activity android:name=".FacultyChatActivity" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ForgotPasswordActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".RequestAppointmentActivity" />
    </application>

</manifest>